h1 {
            font-family: 'Protest Revolution';
            text-align: center;
            color: red;
        }

        h2 {
            font-family: 'Almendra SC';
            text-align: center;
        }

        body {
            font-family: Arial;
        }