h1 {
    font-family: 'Protest Revolution';
    text-align: center;
    color: rgb(184, 8, 8);
    font-size: 50px;
}

h2 {
    font-family: 'Almendra SC';
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

body {
    font-family: Arial;
}

.box1 {
    width: min(700px, 90%);
    height: 200px;
    background-color: bisque;
    border-radius: 15px;
    padding: 15px;
    margin: 20px auto;
    display: flex;
    box-sizing: border-box;
    font-size: 20px;
}